<!DOCTYPE html>
<html>
  <head>
    <title>Drink Details</title>
  </head>
  <body>
    <div>
      <h2>{{ drink['strDrink'] }}</h2>
      <img src="{{ drink['strDrinkThumb'] }}" alt="{{ drink['strDrink'] }} Image">
      <p>{{ drink['strAlcoholic'] }} Cocktail</p>
      <p>Category: {{ drink['strCategory'] }}</p>
      <p>Tags: {{ drink['strTags'] }}</p>
      <p>Glass: {{ drink['strGlass'] }}</p>
      <p>Ingredients:</p>
      <ul>
        test
      </ul>
      <p>Instructions:</p>
      <p>{{ drink['strInstructions'] }}</p>
    </div>
  </body>
</html>
