<!DOCTYPE html>
<html>
  <head>
    <title>CocktailDB Search</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  
    <a href="/json/drinks">All drinks (JSON)</a><br>
    <a href="/json/drink_name/margarita">drink search {margarita} (JSON)</a><br>
    <a href="/json/ingredient_name/vodka">ingredient search {vodka} (JSON)</a><br>
    <a href="/json/drink_ID/11007">drink search by ID {11007} (JSON)</a><br>
    <a href="/json/drink/random">random drink search (JSON)</a><br>

    <div class="container mt-5">
      <h1 class="mb-4">CocktailDB Search</h1>
      <form action="/" method="POST">
        <div class="form-group">
          <label for="search_option">Search option:</label>
          <select class="form-control" id="search_option" name="search_option">
            <option value="name">Cocktail name</option>
            <option value="ingredient">Ingredient name</option>
            <option value="id">Cocktail ID</option>
          </select>
        </div>
        <div class="form-group">
          <label for="search_term">Search term:</label>
          <input type="text" class="form-control" id="search_term" name="search_term">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        <button type="submit" class="btn btn-primary">Random Cocktail</button>
      </form>
    
    <div class="container mt-5">
        <!-- <h2>Results:</h2> -->
        <div class="row">
            <div class="col-md-4">
                <div class="card-deck mt-3">
                    <!-- Bootstrap cards will be generated here -->
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>