<!DOCTYPE html>
<html>
  <head>
    <title>CocktailDB Search</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  
    <div class="container mt-5">
      <h1 class="mb-4">CocktailDB Search</h1>
      <form action="/" method="POST">
        <div class="form-group">
          <label for="search_option">Search option:</label>
          <select class="form-control" id="search_option" name="search_option">
            <option value="cocktail_name">Cocktail name</option>
            <option value="cocktail_ingredient">Ingredient name</option>
            <option value="cocktail_id">Cocktail ID</option>
          </select>
        </div>
        <div class="form-group">
          <label for="search_term">Search term:</label>
          <input type="text" class="form-control" id="search_term" name="search_term">
        </div>

        <button type="submit" class="btn btn-primary btn-sm">Search</button>
        <button type="submit" class="btn btn-secondary btn-sm">Random Cocktail</button>

        <a href="/json/drink/random" class="btn btn-secondary btn-sm">Random Cocktail</a>
        <a href="/json/drinks" class="btn btn-secondary btn-sm">JSON all drinks</a>
        <a href="/json/ingredient_name/vodka" class="btn btn-secondary btn-sm">JSON drinks by name</a>
        <a href="/json/drink_ID/11007" class="btn btn-secondary btn-sm">JSON drinks by ID</a>
        <a href="/json/drink/random" class="btn btn-secondary btn-sm">JSON random drink</a>
        <a href="/json/ingredient_name/vodka" class="btn btn-secondary btn-sm">JSON ingredient by ID</a>
      </form>

      <div class="container mt-5">
        <div class="row">
          {% if drink_cards %}
            {% for card_data in cards %}
            <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="{{ card_data.img_url }}" alt="{{ card_data.title }}">
                <div class="card-body">
                  <h5 class="card-title">{{ card_data.title }}</h5>
                  <a href="/drink_ID/{{ card_data.id }}" class="btn btn-secondary btn-sm">Learn More</a>
                </div>
              </div>
            </div>
            {% endfor %}
          {% else %}
            {% for card_data in cards %}
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ card_data.title }}</h5>
                  <a href="/ingredient_ID/{{ card_data.id }}" class="btn btn-secondary btn-sm">Learn More</a>
                </div>
              </div>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>